---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { isAdminToken } from "@/lib/auth/auth";
import ParticipantsList from "@/components/dashboardComponents/admin/ParticipantsList";

const token = Astro.cookies.get("admin_token")?.value;

//Validar el token
if (!isAdminToken(token)) {
    return Astro.redirect("/dashboardAdmin/login?error=expired");
}
---

<AdminLayout>
    <!-- Aquí metes React o Astro Components del admin -->
    <div id="root">
        <ParticipantsList client:load />
    </div>
</AdminLayout>
