---
import AdminLayout from "@/layouts/AdminLayout.astro";
---

<AdminLayout>
    <p>Bienvenida al panel privado. Aquí se listarán los premios y usuarios.</p>

    <!-- Aquí metes React o Astro Components del admin -->
    <div id="root"></div>
</AdminLayout>
