---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { QuizQuestionList } from "@/components/dashboardComponents/admin/QuizQuestionList";
import { AddQuestionForm } from "@/components/dashboardComponents/admin/AddQuestionForm";
---

<AdminLayout>
    <h1 class="text-3xl font-bold mb-4">Preguntas del Quiz</h1>
    <AddQuestionForm client:load />
    <QuizQuestionList client:load />
</AdminLayout>
