---
import Nav from "../components/Nav/Nav.astro";
import Layout from "../layouts/Layout.astro";
import { Ruleta } from "@/components/ruleta/ruleta";
import { LoginGoogleButton } from "@/pages/dashboardAdmin/components/LoginGoogleButton";
import { getSessionFromRequest } from "@/pages/api/check-session";
import { LoginFacebookButton } from "@/pages/dashboardAdmin/components/LoginFacebookButton";

const session = getSessionFromRequest(Astro.request);
const isLoggedIn = session !== null;
---

<Layout>
	<Nav />
	{
		isLoggedIn ? (
			<Ruleta client:only="react" />
		) : (
			<div class="flex items-center justify-center gap-2.5">
				<LoginGoogleButton client:only="react" />
				<LoginFacebookButton client:only="react" />
			</div>
		)
	}
</Layout>
