<!doctype html>
<html lang="es">
    <head>
        <title>Panel de Administración - Lucel</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="src/styles/global.css" /></head
    >

    <body class="min-h-screen bg-gray-100">
        <header class="bg-blue-700 text-white p-4 font-bold">
            Lucel Iluminación - Panel Admin 📊
        </header>

        <main class="p-6 max-w-7xl mx-auto">
            <slot />
        </main>

        <footer class="text-center text-gray-500 text-sm p-4">
            Lucel Iluminación © {new Date().getFullYear()}
        </footer>
    </body>
</html>
